:root{--main-color:#000000;
    --additional-color:#797a7e;
    --accent-color:#e6e4e4;
    --code-color:#f5f4f4;
    --base-color:#fbfbfb;
    --code-font-fam:monospace;
    --main-font-fam:sans-serif
}
    
::-webkit-scrollbar{
    width:.5rem;
    margin:0
}

::-webkit-scrollbar-thumb{
    background-color:var(--accent-color);
    border-style:groove
}

::-webkit-scrollbar-thumb:active{
    background-color:var(--additional-color)
}

::-webkit-scrollbar-track{
    background-color:var(--base-color)
}

body,html{
    background-color:var(--base-color);
    color:var(--main-color)
}

body{
    margin:0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-family:var(--main-font-fam);
    overflow-x: hidden;
}

a{
    color:var(--main-color);
    text-decoration:none
}

a:hover{
    color:var(--additional-color)
}

nav{
    background-color:var(--base-color);
    position:fixed;
    white-space:nowrap;
    left:0;
}

nav>header{
    background-color:var(--base-color)
}

.nav-menu{
    height:31.1rem;
}

.nav-menu>:nth-child(1n){
    padding:.5rem 1rem .5rem 1rem;
    border-style:groove;
    border-width:.5px;
    border-right: 0;
    display:block
}

ul{
    display:flex;
    flex-direction:column;
    list-style-type:none;
    height:88%;
    padding:0;
    margin:0
}

code{
    color:var(--additional-color)
}

.code-section{
    background-color:var(--code-color);
    padding:.5rem;
    border-radius:3px;
    font-family:var(--code-font-fam);
    width:fit-content;
    margin-left:1rem
}
    
nav>li{
    position:relative
}

header{
    padding:2rem;
    font-size:x-large;
    font-weight:700
}

main{
    position:absolute;
    margin-left:18rem;
    margin-right:5rem
}

td{
    text-align:left;
    vertical-align:top;
    border:groove red 2px
}


#upper-rektangel, #mid-rektangel {
    position: absolute;
    width: 50em;
    height: 50vh;
    background-color: hotpink;
    z-index: -1;
}

#upper-rektangel{
    top: 50vh;
    right: -14.5vw;
    transform: rotate(-45deg);
}

#mid-rektangel{
    transform: rotate(45deg);
    left: -15vw;
    margin-top: 25vh;
}

.nav-menu li:hover{
    background-color: hotpink;
}

li:hover a.nav-link {
    color: white;
}

a.nav-link{
    display: block;
}

body{
    left: -100vw;
}

@media screen and (max-width:740px){
    body,html{
        background-color:var(--base-color);
        color:var(--main-color);
        width:100%;
        overflow-x:hidden;
    }
    
    body{
        margin:0;
        display:flex;
        flex-direction:column;
        font-family:var(--main-font-fam);
    }
    
    nav{
        position:unset;
        white-space:nowrap;
        text-align:center;
        height:100%;
    }
    
    .title{
        position:absolute;
        width:100vw;
        top:0;
        padding-left:0;
        left:0;
        text-align: center
    }
    
    .nav-menu{
        margin-top:5.5rem;
        text-align: center;
        height:fit-content;
    }

    main{
        position:unset;
        margin:1rem;
    }
}

@media screen and (min-width:1536px) {
    #navbar{
        left: -18.8vw;
        transition: transform .3s ease-out;
        display: inline-block;
        border-right: 20px solid hotpink;
    }
    
    #navbar:hover{
        transform: translate(18.8vw, 0);
    }
}
